<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas Notify Me</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   <h1>Canvas Notify Me</h1>
   <p>Canvas Notify Me is a convenient HW reminder SMS service that reminds you of your upcoming homeworks that are due in the next coming week(s)</p>
   <form action="{{ url_for('submit') }}" method="POST" onsubmit="return isValidForm()">
        <label for="first-name">First Name: </label>
        <input type="text" id="first-name" name="first-name" required>
        <label for="last-name">Last Name:</label>
        <input type="text" id="last-name" name="last-name">
        <br>
        <label for="phone-no">Phone Number(US only)</label>
        <input type="text" id="phone-no" name="phone-no" required>
        <br>
        <label for="carriers"> Choose your Cell Phone Carrier:</label>
        <select name="carriers" id="carriers">
            <option value="att">AT&T</option>
            <option value="verizon">Verizon</option>
            <option value="tmobile">T-Mobile</option>
            <option value="sprint">Sprint</option>
            <option value="spectrum">Spectrum</option>
            <option value="uscellular">US Cellular</option>
            <option value="metropcs">Metro PCS</option>
        </select>
        <input type="submit" value = "Notify Me!" onclick="handleSubmit(event)">
    </form>
    <div id ="success-message" style="display: none;">Success. You are subscribed to Canvas Notify Me.</div>
    <script src="script.js"></script>
</body>
</html>